---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body{
  font-size: 1.1em;
  background-color: #151520;
  color: #d9d3df !important;
}
.site-nav{
  background-color: #151524;
}
.page-link, .post-link, .site-title, .post-title{
  color: #ffdf99 !important;
}
.post-link{
  font-weight: 600;
}
code{
  background-color: #232341;
  color: rgb(246, 198, 255);
  font-size: 1rem;
  border: 1px solid rgba(255, 255, 0, 0.314);
  padding: 3px;
}
a{
  color: rgb(0, 251, 255) !important;
}


hr{
  border: 1px dashed rgba(255, 255, 135, 0.46);
}
.site-header {
    border-top: 5px solid #141414;
    border-bottom: 1px solid #e8e8e847;
    min-height: 55.95px;
    line-height: 54px;
    // position: relative;
    // position: sticky; top: 0;
    background-color: #151520;
}

.site-footer {
  border-top: 1px solid #e8e8e847;
  padding: 30px 0;
}

.page-content{
  background-color: #181c28;
}